{% extends 'base.html' %}

{% block content %}

    <h1>Booking</h1>

    <form action="" method="get">
        <div class="row g-3 mb-3">
            <div class="col-md-4">
                <label for="inputEmail4" class="form-label">Дата і час заїзду</label>
                <input value="{{ check_in }}" name="check_in" type="datetime-local" required class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-4">
                <label for="inputPassword4" class="form-label">Дата і час виїзду</label>
                <input value="{{ check_out }}" name="check_out" type="datetime-local"  required class="form-control" id="inputPassword4">
            </div>
            <div class="col-md-4 d-flex align-items-end">
                    <button type="submit" class="btn btn-primary mt-4" id="calculatePrice">Пошук</button>
            </div>
        </div>
    </form>

    {% for apart in apartments %}
        <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
            {% if apart.image %}
        
                <img src="{{apart.image.url}}" class="img-fluid rounded-start" alt="...">
            {% endif %}           
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{apart.title}}</h5>
                <p class="card-text">Локація: {{apart.location}}</p>
                <span class="fw-bold text-primary">{{apart.price}} грн</span>
                <a class="stretched-link" href="{% url 'apartment_page' apart.id %}"></a>
                
            </div>
            </div>
        </div>
        </div>
    {% endfor %}
{% endblock content %}
python manage.py collectstatic --noinput